# Node modules
node_modules/

# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Environment variables
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# PM2 logs & dumps
.pm2/logs/
.pm2/pids/
.pm2/dump.pm2

# IDE/editor folders
.vscode/
.idea/
*.swp

# AWS CodeDeploy/CodePipeline artifacts
*.tar.gz
*.zip
