# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Vite build output
dist/

# Coverage directory
coverage/

# IDE settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env files
.env
.env.*.local

# Mac system files
.DS_Store

# AWS CodeDeploy related temp files
appspec.yml.bak
codedeploy*.zip

# PM2 logs and dumps
.pm2/logs/
.pm2/pids/
dump.pm2

# Optional: Ignore local debug/test files
*.local.js
*.local.ts
